header {
    border: dotted 1px goldenrod;
}

nav ul li {
    display: inline-block;
    margin-left: 14px;
}

.active {
    color: yellow;
}

.disabled {
    color: gray;
}

a[class = "disabled"] {
    color: purple
}

.parent div div {
    color: red;
}

.parent div div ~ div {
    color: blue;
}

.parent div div ~ h4 {
    background: red;
}

 .parent h4:nth-child(4) {
    background: blue;
}

.grandparent > h4 {
    border: solid 1px black;
    border-radius: 4px;
}

.promo {
    font-weight: bold;
    color: gold;
}

input {
    line-height: 25px;
}